<h3>Sign up
<small class="text-body-secondary">This page for new users</small></h3>


<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Sign up" %>
<% end %> 